# History files
.Rhistory
.Rapp.history

loo.Rproj

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.Rproj.user
# produced vignettes
vignettes/loo2-lfo_cache/*
vignettes/loo2-non-factorizable_cache/*
vignettes/*.html
vignettes/*.pdf
vignettes/loo2-non-factorizable_cache/*
inst/doc

revdep/*
tests/testthat/Rplots.pdf

cran-comments.md
CRAN-RELEASE
release-prep.R
